.cellContainer {
  box-sizing: border-box;
  width: 272px;
  height: 254px;

  display: grid;
  grid-template-columns: 90px 90px 90px;
  grid-template-rows: repeat(3, minmax(84px, 84px));

  .cellWrapper0,
  .cellWrapper1,
  .cellWrapper2,
  .cellWrapper3,
  .cellWrapper4,
  .cellWrapper5,
  .cellWrapper6,
  .cellWrapper7 {
    border-radius: 10px;
    border: 3px solid #e5e5e5;
    border-collapse: collapse;
    padding: 5px;

    background-color: #fffdfd;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cellWrapper0,
  .cellWrapper1,
  .cellWrapper3,
  .cellWrapper5,
  .cellWrapper6 {
    margin-right: 1px;
  }

  .cellWrapper0,
  .cellWrapper1,
  .cellWrapper2,
  .cellWrapper3,
  .cellWrapper4 {
    margin-bottom: 1px;
  }

  .mainCell {
    margin-right: 1px;
    margin-bottom: 1px;
    border-radius: 10px;
    border: 3px solid #e5e5e5;
    padding: 5px;

    background-color: #e5e5e5;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cell {
    background-color: transparent;
    text-align: center;
    font-size: 14px;

    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
  }
}
