ul {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin-bottom: 10px;
  list-style: none;

  box-sizing: border-box;
  width: 306px;
  height: 56px;
  box-shadow: 0 0 3px 1px #bbbbbb;

  margin-bottom: 10px;
  border: 1px #bbbbbb;
  border-radius: 8px;
  padding: 8px 9px;
}
