.continer {
  width: 356px;
  height: 448px;

  text-align: center;
}

.loginIntro {
  margin-bottom: 44px;
}

.loginIntro h1 {
  font-size: 24px;
}

.loginIntro div {
  font-size: 18px;
}

.loginInput {
  margin-bottom: 20px;
}

.loginInput input {
  box-sizing: border-box;
  width: 356px;
  height: 53px;

  border-width: 1px;
  border-color: #c0c0c0;

  text-align: left;
  font-size: 16px;
}

.loginInput input::placeholder {
  color: #c0c0c0;
}

.loginInputId {
  border-radius: 12px 12px 0 0;
  padding: 17px 16px;
}

.loginInputPw {
  border-radius: 0 0 12px 12px;
  padding: 17px 16px;
}
/* 작동안됨
.logininput input:focus {
  background-color: #6ab23a;
  outline: 1px solid #6ab23a;
}

.logininput input:focus::placeholder {
  color: #000000;
}
*/
.button {
  width: 356px;
  height: 109px;
  margin-bottom: 32px;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginButton {
  box-sizing: border-box;
  width: 356px;
  height: 56px;
  border: 0;
  border-radius: 12px;

  background-color: #6ab23a;
  color: #ffffff;
  font-size: 18px;
}

.signupButton {
  box-sizing: border-box;
  width: 72px;
  height: 35px;
  margin-right: auto;
  padding: 8px;
  border: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  text-decoration: none;
  font-size: 16px;
}

.service {
  box-sizing: border-box;
  width: 102px;
  height: 23px;
  margin: 8px;
  border-width: 0 0 1px 0;
  padding: 0px;

  background-color: transparent;
  font-size: 16px;
}
