.wrapper {
  width: 356px;
  height: 448px;

  text-align: center;
}

.loginIntro {
  margin-bottom: 44px;
}

.loginInput {
  margin-bottom: 20px;
}

.loginInput input {
  box-sizing: border-box;
  width: 356px;
  height: 56px;

  padding: 0;
  padding-block: 0;
  padding-inline: 0;
  border-width: 1px;
  border-color: #c0c0c0;

  text-align: left;
}

.loginInput input::placeholder {
  color: #c0c0c0;
}

.loginInputId {
  border-radius: 12px 12px 0 0;
}

.loginInputPw {
  border-radius: 0 0 12px 12px;
}
/* 작동안됨
.logininput input:focus {
  background-color: #6ab23a;
  outline: 1px solid #6ab23a;
}

.logininput input:focus::placeholder {
  color: #000000;
}
*/
.button {
  width: 356px;
  height: 109px;
  margin-bottom: 32px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.loginButton {
  box-sizing: border-box;
  width: 356px;
  height: 56px;
  border: 0;
  border-radius: 12px;

  background-color: #6ab23a;
  color: #ffffff;
}

.signupButton {
  box-sizing: border-box;
  width: 72px;
  height: 35px;
  margin-right: auto;
  border: 0;

  background-color: transparent;
}

.service {
  box-sizing: border-box;
  width: 118px;
  height: 39px;
  margin: 3px;
  border-width: 0 0 1px 0;
  padding: 0;

  background-color: transparent;
}
