.textInput {
  box-sizing: border-box;
  height: 94px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.textInput label {
  text-align: left;
}

.textInput input {
  box-sizing: border-box;
  height: 58px;

  border: 1px solid #c0c0c0;
  border-radius: 12px;
  padding: 8px 16px;
}
