ul {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  width: 306px;
  height: 532px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listbox {
  list-style: none;

  box-sizing: border-box;
  width: 306px;
  height: 56px;
  box-shadow: 0 0 5px 0.1px #bbbbbb;

  border-radius: 8px;
  padding: 18px 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &:focus-within {
    border: 2px solid #6ab23a;
    .checkbox {
      border: 2px solid #6ab23a;
    }
  }

  .checkbox {
    appearance: none;

    box-sizing: border-box;
    width: 20px;
    height: 20px;

    margin: 0;
    margin-right: 10px;
    border: 1.5px solid #bbbbbb;
    border-radius: 6px;

    &:checked {
      border: 1.5px solid #6ab23a;
      background-color: #6ab23a;
      background-image: url("../../assets/icons/check.svg");
      background-repeat: no-repeat;
      background-size: 70%;
      background-position: center center;
    }
  }

  .listInput {
    width: 244px;
    height: 24px;

    border: 0;
    padding: 0;
    font-size: 16px;

    &::placeholder {
      color: #bbbbbb;
    }
    &:focus {
      outline: 0;
    }
  }

  .completed {
    width: 244px;
    height: 24px;

    border: 0;
    padding: 0;
    font-size: 16px;

    background-color: transparent;
    text-decoration: line-through;

    &::placeholder {
      color: #bbbbbb;
      text-decoration: line-through #bbbbbb;
    }

    &:focus {
      outline: 0;
    }
  }
}

.listbox:has(.completed) {
  border: 2px solid #6ab23a;
  background-color: #f4faf0;
}
