ul {
  margin: 0;
  padding: 0;
}

.listbox {
  margin-bottom: 10px;
  list-style: none;

  box-sizing: border-box;
  width: 306px;
  height: 56px;
  box-shadow: 0 0 3px 1px #bbbbbb;

  margin-bottom: 10px;
  border-radius: 8px;
  padding: 18px 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &:focus-within {
    border: 2px solid #6ab23a;
  }
  //    accent-color: #6ab23a;
  .checkbox {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin: 0;
    margin-right: 10px;
    border: 1.5px solid #bbbbbb;

    :checked {
      color: #6ab23a;
    }
  }

  .checkbox:checked {
    background-color: #6ab23a;
  }

  .listInput {
    width: 244px;
    height: 24px;

    border: 0;
    padding: 0;
    font-size: 16px;

    &::placeholder {
      color: #bbbbbb;
    }
    &:focus {
      outline: 0;
    }
  }
}
