ul {
  margin: 0;
  padding: 0;
}

.listbox {
  margin-bottom: 10px;
  list-style: none;

  box-sizing: border-box;
  width: 306px;
  height: 56px;
  box-shadow: 0 0 3px 1px #bbbbbb;

  margin-bottom: 10px;
  border-radius: 8px;
  padding: 18px 16px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &:focus-within {
    border: 5px solid #bbbbbb;
  }

  .listInput {
    width: 244px;
    height: 24px;

    border: 0;
    padding: 0;
    font-size: 16px;

    &::placeholder {
      color: #bbbbbb;
    }
    &:focus {
      outline: 0;
    }
  }

  .completed {
    width: 100%;

    border: 0;
    padding: 0;

    color: #000000;
    font-size: 16px;
    text-decoration: line-through #000000;
    background-color: transparent;

    &:focus {
      outline: 0;
    }
  }

  /* 수정 안할 때 색깔 바꾸고 싶으면
  span.completed {
    color: #bbbbbb;
    text-decoration: line-through #bbbbbb;
  }
  */
}

.listbox:has(.completed) {
  border: 2px solid #6ab23a;
  background-color: #f4faf0;
}

span {
  display: flex;
  align-items: center;
}
