.wrapper {
  box-sizing: border-box;
  width: 356px;
  height: 793px;
  box-shadow: 0 0 3px 1px #bbbbbb;

  border-radius: 19px;
  padding: 56px 25px 34px 25px;

  color: #bbbbbb;

  position: relative;
  display: flex;
  flex-direction: column;

  .titleWrapper {
    box-sizing: border-box;
    width: 306px;
    height: 62px;
    margin-bottom: 34px;

    .missionTitle {
      font-weight: bold;
      font-size: 14px;
      color: #6ab23a;
    }

    .title {
      box-sizing: border-box;
      width: 306px;
      height: 40px;

      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;

      color: #6ab23a;
      font-weight: bold;
      font-size: 28px;

      input {
        box-sizing: border-box;
        width: 222px;
        height: 40px;
        border: 0;
        padding: 0;

        color: #bbbbbb;
        font-weight: bold;
        font-size: 28px;

        &::placeholder {
          color: #bbbbbb;
        }
      }
    }
  }

  .content {
    flex: 1;
    width: 306px;
    height: 532px;

    margin-bottom: 34px;
  }

  .buttonWrapper {
    box-sizing: border-box;
    width: 306px;
    height: 58px;

    display: flex;
    justify-content: space-between;
  }
}

.pencilButton {
  margin-right: 47px;
  border: 0;
  padding: 0;

  background-color: transparent;
}

.closeButton {
  position: absolute;
  right: 16px;
  top: 16px;

  border: 0;
  padding: 0;

  background-color: transparent;
}
