.container {
  width: 356px;
  height: 696px;
  margin-top: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > span {
    font-size: 28px;
    font-weight: 700;
  }
}

.id {
  width: 100%;
  margin-top: 46px;
  & label {
    display: block;
    margin-bottom: 12px;
  }
}

.password {
  width: 100%;
  & label {
    display: block;
    margin: 20px 0 12px;
  }
}

.newpassword {
  width: 100%;
  & label {
    display: block;
    margin: 20px 0 12px;
  }
}

.newpasswordCheck {
  width: 100%;
  margin-bottom: 46px;
  & label {
    display: block;
    margin: 20px 0 12px;
  }
}

.messageSuccess {
  color: #6ab23a;
  padding-left: 8px;
  margin-top: 12px;
}

.messageError {
  color: #be2e2e;
  padding-left: 8px;
  margin-top: 12px;
}
