.container {
  width: 356px;
  height: 696px;
  margin-top: 128px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > span {
    font-size: 28px;
    font-weight: 700;
  }
}

.id {
  width: 100%;
  margin-top: 46px;
  & label {
    display: block;
    margin-bottom: 12px;
  }
}

.password {
  width: 100%;
  & label {
    display: block;
    margin: 12px 0 20px;
  }
}

.newpassword {
  width: 100%;
  & label {
    display: block;
    margin: 12px 0 20px;
  }
}

.newpasswordCheck {
  width: 100%;
  margin-bottom: 46px;
  & label {
    display: block;
    margin: 12px 0 20px;
  }
}
