.container {
  width: 356px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: block;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}

.name {
  margin-top: 46px;
  & label {
    display: block;
    font-size: 16px;
    margin-bottom: 12px;
  }
}

.email {
  margin-top: 20px;
  & label {
    display: block;
    font-size: 16px;
    margin-bottom: 12px;
  }
}

.errMessage {
  margin: 12px 0 46px;
  padding-left: 8px;
  font-size: 16px;
  font-weight: 400;
  color: #be2e2e;
}

.noErrMessage {
  margin-bottom: 46px;
}

.subTitle {
  display: block;
  margin-top: 12px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.checkbox {
  width: 100%;
  height: 104px;
  margin: 46px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #6ab23a;
  border-radius: 12px;
}
