.container {
  width: 356px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  > span {
    display: block;
    font-size: 28px;
    font-weight: 700;
    &:nth-child(2) {
      margin-top: 12px;
      font-size: 18px;
    }
  }
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name {
  width: 100%;
  margin-top: 46px;
  & label {
    display: block;
    font-size: 16px;
    margin-bottom: 12px;
  }
}

.email {
  width: 100%;
  margin: 20px 0 46px;
  & label {
    display: block;
    font-size: 16px;
    margin-bottom: 12px;
  }
}

.errMessage {
  display: block;
  font-size: 16px;
  color: #be2e2e;
  margin-top: 12px;
  padding-left: 8px;
}

.noErrmessage {
  margin: 0;
}

.changePassword {
  margin-top: 25px;
  border-width: 0 0 1px 0;
  background-color: transparent;
  font-size: 16;
  font-weight: 400;
  cursor: pointer;
}
