.continer {
  width: 356px;
  height: 448px;
  text-align: center;
  margin-top: 216px;
}

.loginIntro h1 {
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}

.loginIntro div {
  font-size: 18px;
  font-weight: 600;
  margin-top: 12px;
}

.loginInput {
  margin-top: 44px;
  // display: table;
  // border-collapse: collapse;
}

.loginInput input {
  box-sizing: border-box;
  width: 356px;
  height: 53px;
  border: 1px solid #c0c0c0;
  border-radius: 12px 12px 0px 0px;
  padding: 0px 16px;
  font-size: 16px;
  &::placeholder {
    color: #c0c0c0;
  }
  &:nth-child(2) {
    border-radius: 0 0 12px 12px;
  }
  &:focus {
    border-color: #6ab23a;
    outline: 0;
  }
}

.button {
  margin-top: 20px;
}

.signupButton {
  margin-top: 16px;
  display: flex;
  border: 0;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}

.service {
  margin-top: 32px;
  border-width: 0 0 1px 0;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
}
