.mainWrapper {
  width: 1264px;
  height: 796px;
  display: flex;
  position: fixed;
}

.content {
  flex: 1;
  display: grid;
  grid-template-columns: 272px 272px 272px;
  grid-template-rows: 252px 252px 252px;
  gap: 20px 30px;
  margin-right: 38px;
}

.modalWrapper {
  box-sizing: border-box;
  width: 1264px;
  height: 796px;

  display: flex;
  position: fixed;

  border-radius: 20px;
  background-color: white;
}
