.mainWrapper {
  width: 1264px;
  height: 796px;
  display: flex;
  justify-content: center;
}

.content {
  // mainWrapper랑 MissionPanel 위치 고정하고 싶으면 flex: 1;
  display: grid;
  grid-template-columns: 272px 272px 272px;
  grid-template-rows: 252px 252px 252px;
  gap: 20px 30px;
}

.preMainPageModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 50px)); //header위치 고려

  box-sizing: border-box;
  width: 375px;
  height: 183px;

  z-index: 20;

  padding: 0;

  border-radius: 12px;
  background-color: white;
}
