.goalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 50px)); //header위치 고려

  box-sizing: border-box;
  width: 870px;
  height: 796px;
  background-color: white;
}
