.goalContainer {
  // goalContainer랑 goalPanel 위치 고정하고 싶으면 flex: 1;
  box-sizing: border-box;
  width: 870px;
  height: 796px;

  display: grid;
  grid-template-columns: repeat(3, 270px);
  grid-template-rows: repeat(3, 252px);
  gap: 20px 30px;

  text-align: center;

  .goalDetail {
    box-sizing: border-box;
    width: 270px;
    height: 252px;

    border-radius: 20px;
    border: 5px solid #f1efef;
    padding: 32px 28px;

    word-wrap: break-word;

    div {
      box-sizing: border-box;
      width: 214px;
      height: 26px;

      margin-bottom: 17px;

      font-weight: 550; //semi-bold
      font-size: 22px;
    }

    textarea {
      box-sizing: border-box;
      width: 214px;
      height: 146px;
      resize: none;

      border: 0;
      padding: 0;

      display: block;
      font-size: 16px;

      &:focus {
        outline: 0;
      }
    }
  }

  .mainGoal {
    box-sizing: border-box;
    width: 270px;
    height: 252px;

    border-radius: 20px;
    border: 3px solid #f1efef;
    padding: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    background-color: #6ab23a;
    font-weight: bold;
    font-size: 36px;
  }
}
