.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(1rem);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 50px)); //header위치 고려

  box-sizing: border-box;
  width: 1439px;
  height: 951px;

  z-index: 20;

  padding: 75px;

  border-radius: 24px;
  background-color: white;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
