.button {
  box-sizing: border-box;
  border: 0;
  cursor: pointer;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.15));
}

.small {
  width: 120px;
  height: 40px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
}

.large {
  width: 356px;
  height: 58px;
  border-radius: 12px;
  font-size: 18px;
}

.regular {
  width: 306px;
  height: 58px;
  border-radius: 10px;
  font-size: 22px;
}

.panelButton {
  width: 306px;
  height: 58px;

  border: 0;
  border-radius: 12px;
  padding: 8px 21px;

  font-size: 18px;
  font-weight: 550; //semi-bold

  background-color: #6ab23a;
  color: #ffffff;
}

.button.white {
  width: 356px;
  height: 58px;
  border-radius: 12px;
  margin-top: 12px;
  font-size: 18px;
  background-color: white;
  color: black;
  cursor: pointer;
}

.active {
  background-color: #6ab23a;
  color: #ffffff;
}

.inactive {
  background-color: #e5e5e5;
  color: #6b6b6b;
  cursor: default;
}
