.continer {
  width: 356px;
  height: 561px;
}

h2 {
  margin: 0 0 54px 0;
  text-align: center;
  font-size: 24px;
}

.overlap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 12px;
}

.overlap button {
  box-sizing: border-box;
  width: 120px;
  height: 40px;
  border: 0;
  border-radius: 10px;

  background-color: #6ab23a;
  color: #ffffff;
  font-size: 16px;
  font-weight: 550;
}

.makePw {
  margin: 20px 0 46px 0;
}

.makePw div {
  margin-bottom: 20px;
}
